{% extends 'base.html'%}
{% load static%}
{%load sorl_thumbnail %}
{%block head%}<title>Profile</title>{%endblock%}
{%block body%}

<body class=" bg-gray-100 min-h-screen py-10">
  
     <div class="mb-5">
      {% thumbnail user.profile.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}" 
        width="{{ im.width }}" 
        height="{{ im.height }}"
        class="rounded-full w-20 h-20" />  
      {% endthumbnail %}
    </div>
 
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Username:</label>
                            {{ user.username }} <br>
                        <label class="small mb-1">Email:</label>
                            {{ user.email }}
                    </div>
                </div>
            </div>
            <br><br>
            <a href="{% url 'profiles:update_user_details'%}">
              <button type="button" class="btn btn-dark border rounded p-2 btn-lg">Update Profile</button>
            </a>
            <span>  <button type="button" class="btn btn-dark border rounded p-2 btn-lg">
                        <a href="{% url 'profiles:password' %}">Change Password</a>
                      </button></span>
            
        </form>
    </div>

{%endblock%}