{% extends 'base.html'%} {% block head%}
<title>{{user.username}}</title>
{%endblock%} {% load sorl_thumbnail %} 

{%block body%}
<!-- Tailwind CSS Profile card component from    ` -->
<style>

     #sidebar-original{
        visibility: collapse;
    }
    
</style>
<div
  class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300"
>
  <div class="flex flex-col items-center p-6">
    {%thumbnail user.profile.image "500x500" crop="center" as im%}
    <img
      src="{{im.url}}"
      width="{{im.width}}"
      height="{{im.height}}"
      class="rounded-full w-20 h-20"
    />
    {%endthumbnail%}
    <h2 class="mt-4 text-xl font-semibold text-gray-800">{{user.username}}</h2>
    <p class="text-gray-500 text-sm">Fullstack Developer</p>
    <p class="text-center text-gray-600 mt-3 text-sm">
      Developing web applications for South African communities
    </p>
    {% if request.user.is_authenticated%}
        {% if request.user != user %} <!--if requested user is not currrent user, user can be followed(cannot follow oneself)-->
            <button
            data-action="{% if you_follow %}unfollow{% endif%}"
            data-url="{% url 'profiles:follow' user.username%}"
            data-username="{{user.username}}"
            type="button"
            class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition js-follow-button">
              {% if you_follow %}
                Unfollow
                {%else%}
                Follow        
              {%endif%}
            </button>
          {%endif%}
    {%endif%}
    <!-- Tabs -->
    <div class="mt-6 w-full">
      <div class="flex justify-center border-b border-gray-200">
        <button
          class="tab-button px-4 py-2 text-sm font-medium text-gray-600 hover:text-blue-600 active-tab"
          data-tab="posts"
        >
          Posts<br />
          <div>{{total_posts}} </div><!--add number of posts-->
        </button>
        <button
          class="tab-button px-4 py-2 text-sm font-medium text-gray-600 hover:text-blue-600"
          data-tab="followers"
        >
          Followers <br />
          <div>{{total_followers}}</div>
        </button>
        <button
          class="tab-button px-4 py-2 text-sm font-medium text-gray-600 hover:text-blue-600"
          data-tab="followers"
        >
          Following <br />
          <div>{{total_following}}</div>
        </button>

        <div></div>

        <!-- Tab content -->
      </div>
    </div>
  </div>
</div>

{%endblock%}
