{% extends 'base.html' %}

{%  block body%}
<style>
      #navigation-bar{
        visibility: collapse;
    }
    #sidebar-original{
            visibility: collapse;
        }

</style>
{% block content %}
<div class="flex lg:mx-auto lg:p-5 flex-col m-2 p-2 dark:bg-white rounded shadow">
  <h2 class="text-2xl font-semibold mb-4">Update Profile</h2>
  <div class="flex justify-center ">
    <form method="POST" enctype="multipart/form-data">
      {%csrf_token%}
      {{user_form}}
      <br>
      {{profile_form}}        
      <button type="submit" class="mt-4 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
        Save Changes
      </button>
    </form>
  </div>
</div>
{% endblock %}
{%endblock%}