{% extends 'base.html'%} {% load static%} {%load sorl_thumbnail %} 
{%block head%}
<title>Profile</title>
{%endblock%} 


{%block body%}
    <style>
        #navigation-bar{
            visibility: collapse;
        }
      
    </style>

    <div class="flex flex-col m-2 p-2 dark:bg-black rounded shadow">
         <h2 class="text-2xl font-semibold mb-4">Profile</h2>
    <div class="flex justify-center">
        {% thumbnail user.profile.image "100x100" crop="center" as im %}
            <img
            src="{{ im.url }}"
            width="{{ im.width }}"
            height="{{ im.height }}"
            class="rounded-full w-50 h-50"
            />
        {% endthumbnail %}
    </div>
    <div class="flex justify-center text-sm text-gray-600 ">Username</div>
    <div class="flex justify-center text-xl ">{{user.username}}</div>
    <div class="flex gap-x-2 lg:flex-row lg:justify-center ">
        <div class="">
            <button type="button" class="mt-4 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                <a href="{% url 'profiles:update_user_details'%}">Update Profile</a>
            </button>
        </div>
            <div class=" ">
                <button type="button" class=" mt-4 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                    <a href="{% url 'profiles:password' %}">Change Password</a>
                </button>
            </div>
    </div>
    </div>
{%endblock%}
