{%extends 'base.html'%} 
{% block head%} {% endblock %} 
{% load sorl_thumbnail%}


{% block body %}
<style>
    #sidebar-original{
        visibility: collapse;
    }
    #sidebar-homepage{
      height: 25%;
    }
  
    #hidden-home-button{
      visibility: collapse;
    }
  
   
</style>
<!-- sidebar for the homapage-->
<div class="flex flex-col lg:flex-row " id="body-container">
     <aside class="lg:w-64 sm:mb-5 lg:me-5 shadow-md bg-dark  rounded-lg" id="sidebar-homepage">
      <div class="p-4 text-xl font-semibold text-blue-600 border-b shadow">
        <a href="/">
             SOCIAL APP
        </a>   
      </div>
      <nav class="lg:block p-4 lg:mx-5 mx-4 space-y-2 ">{#change nav to be #}
       
        <a href="/" class="lg:flex  p-2 justify-center text-gray-700 hover:bg-blue-100 rounded">Home</a>

        {% if request.user.is_authenticated %}

        <a href="{% url 'account_logout' %}" class="lg:flex justify-center p-2  text-gray-700 hover:bg-blue-100 rounded">Logout</a>
         <a href="{% url 'feed:new_post' %}"class="lg:flex justify-center   p-2 text-gray-700  hover:bg-blue-100 rounded js-modal-toggle ">New post</a>
        <a href="{% url 'profiles:profile'%}" class="lg:flex justify-center   p-2 text-gray-700 transform hover:bg-blue-100 rounded">Account</a>
        {#TODO:create button for viewing other profiles so people can follow#}
         <a href="{% url 'profiles:profile'%}" class="lg:flex justify-center p-2 text-gray-700 transform hover:bg-blue-100 rounded">Discover</a>
        {% else%}
        <a href="{% url 'account_login' %}"class="lg:flex justify-center  p-2text-gray-700 hover:bg-blue-100 rounded">Login</a>
        {% endif%}
      </nav>
    </aside>

   

    {% for post in posts%}
      <!--post component container-->   
      <div class="post-container border ">  

      <div class="mb-5 border-2 rounded shadow-lg overflow-hidden" >
          <!-- component-->
          <div class="">
              <!--adding user image-->  
              <div class="">
                  {% thumbnail  post.author.profile.image "200x200" crop="center" as im %}
                  <img src="{{im.url}}"width={{im.width}} height={{im.height}} class="rounded-full w-10 h-10">
              {% endthumbnail %}
              <span class="pt-2 ml-2 text-sm text-gray-700 ">
                  <a href="{% url 'profiles:profile_details' post.author.username %}">
                    {{post.author.username}}
                  </a>
              </span>
              </div>  
            
          <span class="text-sm text-blue-600 font-medium uppercase">WHAT'S HAPPENING?</span>
  
            <p class="font-bold truncate text-gray-800 mt-2" id="author-text-box">{{post.text}}</p>
          
          <p class="text-gray-600 mt-2 text-sm">
            HTML tag to include a column in the Post class(model)
          </p>
          <!--If statement for read_more_link-->
          
              <div class="pt-2">
                  <a href="{%url 'feed:post_details' post.pk %}" class="text-sm text-blue-600 font-medium ">
                      Read more
                  </a>
              </div>
          <div class="mt-4 ">
              <div class="text-sm text-gray-500">{{post.date| date:"j F , Y g:i a"}}</div>
          </div>
          </div>
      </div>
    {% endfor%} 

  </div>



   

<!--Add a detail view-->


{% endblock %}

